# Use this notebook for your 3 choices of APIs

In [1]:
import requests
import json
from pandas.io.json import json_normalize

import pandas as pd

### World Food Info - Jan also did this, so I added a fourth at bottom

https://world.openfoodfacts.org/product/2000000002603/big-mac-mcdonald-s

Write in your barcode and find info about the food.

In [2]:
barcode = '2000000002603'

response = requests.get('https://world.openfoodfacts.org/api/v0/product/'+barcode+'.json')
response

In [3]:
results = response.json()

flattened_data = json_normalize(results).T

display(flattened_data.shape)
flattened_data.head(30)

C:\Users\eliza\AppData\Local\Temp\ipykernel_16296\933853026.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results).T

(648, 1)

                                                                                                   0
code                                                                                   2000000002603
status                                                                                             1
status_verbose                                                                         product found
product._id                                                                            2000000002603
product._keywords                                  [100, big, ble, crc, hamburger, mac, mcdonald,...
product.added_countries_tags                                                                      []
product.additives_debug_tags                                                                      []
product.additives_n                                                                               18
product.additives_old_n                                                                           19
product.additives_old_tags                         [en:e471, en:e282, en:e281, en:e520, en:e433, ...
product.additives_original_tags                    [en:e471, en:e282, en:e281, en:e520, en:e433, ...
product.additives_prev_original_tags                                                       [en:e220]
product.additives_tags                             [en:e15x, en:e160a, en:e160ai, en:e160c, en:e2...
product.allergens                                  en:eggs,en:gluten,en:milk,en:mustard,en:sesame...
product.allergens_from_ingredients                 en:sesame-seeds, LAIT , ŒUF, MOUTARDE, LAIT, Œ...
product.allergens_from_user                        (en) en:eggs,en:gluten,en:milk,en:mustard,en:s...
product.allergens_hierarchy                        [en:eggs, en:gluten, en:milk, en:mustard, en:s...
product.allergens_lc                                                                              en
product.allergens_tags                             [en:eggs, en:gluten, en:milk, en:mustard, en:s...
product.amino_acids_prev_tags                                                                     []
product.amino_acids_tags                                                                          []
product.brands                                                                            McDonald's
product.brands_tags                                                                     [mcdonald-s]
product.categories                                                             Sandwiches,Hamburgers
product.categories_hierarchy                                          [en:sandwiches, en:hamburgers]
product.categories_lc                                                                             en
product.categories_old                                                          Sandwichs,Hamburgers
product.categories_properties.ciqual_food_code:en                                              25522
product.categories_properties_tags                 [all-products, categories-known, agribalyse-fo...
product.categories_tags                                               [en:sandwiches, en:hamburgers]

### Upcoming Public Holidays

https://date.nager.at/api/v3/NextPublicHolidaysWorldwide

In [4]:
response2 = requests.get('https://date.nager.at/api/v3/NextPublicHolidaysWorldwide')
response2

In [5]:
results2 = response2.json()

flattened_data2 = json_normalize(results2)

display(flattened_data2.shape)
flattened_data2.head(30)

C:\Users\eliza\AppData\Local\Temp\ipykernel_16296\4231902514.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data2 = json_normalize(results2)

(15, 9)

,date,localName,name,countryCode,fixed,global,counties,launchYear,types
0,2023-09-06,Ден на съединението,Unification Day,BG,True,True,None,None,[Public]
1,2023-09-07,Dia da Independência,Independence Day,BR,True,True,None,None,[Public]
2,2023-09-07,Jeûne genevois,Geneva Prayday,CH,False,False,[CH-GE],None,[Public]
3,2023-09-07,Dia da Victória,Victory Day,MZ,True,True,None,None,[Public]
4,2023-09-08,Mare de Déu de Meritxell,National Holiday,AD,True,True,None,None,[Public]
5,2023-09-08,Día de Asturias,Day of Asturias,ES,True,False,[ES-AS],None,[Public]
6,2023-09-08,Día de Extremadura,Day of Extremadura,ES,True,False,[ES-EX],None,[Public]
7,2023-09-08,Maria Geburt,Nativity of Our Lady,LI,True,True,None,None,[Public]
8,2023-09-08,"Ден на независноста, Den na nezavisnosta",Independence Day,MK,True,True,None,None,[Public]
9,2023-09-08,Il-Vittorja,Feast of Our Lady of Victories,MT,True,True,None,None,[Public]
10,2023-09-08,Festa della natività della madonna,Nativity of Mary,VA,True,True,None,None,[Public]
11,2023-09-08,"Día del Virgen del Valle, aparicion del Virgen...",Birth of the Blessed Virgin Mary and feasts of...,VE,True,True,None,None,[Public]
12,2023-09-10,Saint George's Caye Day,Saint George's Caye Day,BZ,False,True,None,None,[Public]
13,2023-09-10,Gibraltar National Day,Gibraltar National Day,GI,True,True,None,None,[Public]
14,2023-09-11,Diada Nacional de Catalunya,National Day of Catalonia,ES,True,False,[ES-CT],None,[Public]

### Whisky Distilleries

https://whiskyhunter.net/api/distilleries_info

In [6]:
response3 = requests.get('https://whiskyhunter.net/api/distilleries_info')
response3

In [7]:
results3 = response3.json()

flattened_data3 = json_normalize(results3)

display(flattened_data3.shape)
flattened_data3.head(30)

C:\Users\eliza\AppData\Local\Temp\ipykernel_16296\470904894.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data3 = json_normalize(results3)

(300, 6)

,name,slug,country,whiskybase_whiskies,whiskybase_votes,whiskybase_rating
0,8 Doors Distillery,8_doors,Scotland,4,5,86.5
1,Abbeyhill Distillery,abbeyhill,Scotland,0,0,0.0
2,Aberargie Distillery,aberargie,Scotland,1,0,0.0
3,Aberfeldy,aberfeldy,Scotland,497,8428,84.12
4,Aberlour,aberlour,Scotland,1301,28736,85.05
5,Abhainn Dearg,abhainn_dearg,Scotland,42,427,69.91
6,Ailsa Bay,ailsa_bay,Scotland,28,1345,81.46
7,Aioi Unibio Co. Ltd.,aioi_unibio_co._ltd.,Japan,6,46,77.42
8,Akkeshi Distillery,akkeshi,Japan,28,279,85.67
9,Albyn Distillery,albyn,Scotland,0,0,0.0
10,Allt-a-Bhainne,allt-a-bhainne,Scotland,471,4096,84.61
11,Annandale Distillery,annandale,Scotland,140,1186,84.65
12,Arbikie,arbikie,Scotland,10,42,82.28
13,Ardbeg,ardbeg,Scotland,2458,99030,88.05
14,Ardenistile,ardenistile,Scotland,0,0,0.0
15,Ardgowan Distillery,ardgowan,Scotland,2,1,81.0
16,Ardlussa Distillery,ardlussa,Scotland,0,0,0.0
17,Ardmore,ardmore,Scotland,1750,19274,85.36
18,Ardnahoe Distillery,ardnahoe,Scotland,0,0,0.0
19,Ardnamurchan,ardnamurchan,Scotland,129,4126,85.65
20,Argyll Distillery,argyll,Scotland,0,0,0.0
21,Arran,arran,Scotland,2305,43816,85.44
22,Asaka,asaka,Japan,18,21,85.78
23,Auchentoshan,auchentoshan,Scotland,1287,16924,84.07
24,Auchnagie,auchnagie,Scotland,2,11,84.44
25,Auchroisk,auchroisk,Scotland,747,6502,84.78
26,Aultmore,aultmore,Scotland,958,8959,85.24
27,Badachro Distillery,badachro,Scotland,2,1,76.0
28,Balblair,balblair,Scotland,686,11741,86.05
29,Ballindalloch,ballindalloch,Scotland,0,24,90.77

### Dictionary - type in a word and see what it means

https://api.dictionaryapi.dev/api/v2/entries/en/

In [8]:
word = 'panda'
response4 = requests.get('https://api.dictionaryapi.dev/api/v2/entries/en/'+word)
response4

In [9]:
results4 = response4.json()
results4

flattened_data4 = json_normalize(results4)

word_types=[]
definitions=[]

for el in flattened_data4['meanings'][0]:
    for d in el['definitions']:
        definitions.append(d['definition'])
        word_types.append(el['partOfSpeech'])

words = pd.DataFrame({"Type":word_types,"Definition":definitions})
words['Word'] = word
words = words[['Word','Type','Definition']]
words

C:\Users\eliza\AppData\Local\Temp\ipykernel_16296\2812867856.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data4 = json_normalize(results4)

    Word  Type                                         Definition
0  panda  noun  The red panda (Ailurus fulgens), a small racco...
1  panda  noun                             Short for giant panda.
2  panda  noun             (law enforcement) Short for panda car.